build/*
nbproject/*
/src/main/antlr/output

/src/main/java/ch/tutteli/tsphp/typechecker/antlr/TSPHPTypeCheckerDefinition.java
/src/main/java/ch/tutteli/tsphp/typechecker/antlr/TSPHPTypeCheckerDefinition.tokens
/src/main/java/ch/tutteli/tsphp/typechecker/antlr/TSPHPTypeCheckerReference.java
/src/main/java/ch/tutteli/tsphp/typechecker/antlr/TSPHPTypeCheckerReference.tokens

